<div class="col-md-10">
    <div class="thumbnail" id="editText">
        <input type="hidden" name="codi" value="<%=text.get('codi')%>"/>
        <div class="caption">
            <p>Titol: </p>
            <h3 class="text-center"><input type="text" class="form-control text-center" name="titol" value="<%=text.get('titol') %>"/></h3>
            <br>
            <p>Descripció: </p>
            <p><textarea name="descripcio" id="descripcio" class="form-control"><%=text.get('descripcio') %></textarea></p>
            <br>
            <p>Escull les temàtiques del text:</p>
            <%
            tematiques.each(function(tematica,key,list) {
            %>



            <input name="tematica" type="checkbox" value ="<%=tematica.get('codi')%>"/> <span><%= tematica.get('nom') %></span>

            <%
            });
            %>
            <br>            <br>
            <p>Selecciona la visibilitat del text:</p>
            <select class="form-control" name="public">
                <% if(text.get('public')) { %>
                <option value="1" selected>Public</option>
                <option value="0">Privat</option>
                <% } else { %>
                <option value="1">Public</option>
                <option value="0" selected>Privat</option>
                <% } %>
            </select>
            <br>
            <button class="btn btn-success center-block pull-left update">Actualitzar</button>
            <button class="btn btn-danger center-block pull-right delete">Esborrar</button>
            <button class="btn btn-default center-block back">Tornar al llistat de textos</button>
        </div>
    </div>

</div>