<div class="panel panel-default">
    <div class="panel-heading">Canvia al contrassenya:</div>
    <div class="panel-body" id="panelPassword">
        <p id="resultat"></p>
        <strong>Contrassenya actual:</strong>
        <input type="password" name="password" class="form-control">
        <br>
        <strong>Contrassenya nova:</strong>
        <input type="password" name="passwordNew" class="form-control">
        <br>
        <strong>Confirma la nova contrassenya:</strong>
        <input type="password" name="passwordNewRep" class="form-control">
        <br>
        <button class="btn btn-success" id="updatePassword">Actualitzar contrassenya</button>
    </div>
</div>
