<div class="page-header">
    <h1>Hola <%= item.get('login')%></h1>
</div>
<div class="col-md-2" id = "opcio">
    <div class="list-group">
        <a href="#usuari/perfil" class="list-group-item active">Dades personals</a>
        <a href="#usuari/contrassenya" class="list-group-item">Canviar la contrassenya</a>
        <a href="#usuari/mytexts" class="list-group-item">Els meus texts</a>
        <a href="#usuari/myimatges" class="list-group-item">Les meves imatges</a>
        <a href="#usuari/myllibres" class="list-group-item">Els meus llibres</a>
    </div>
</div>
<div class="col-md-10" id="opcioTriada">
</div>