<div class="row">
    <div id="llistaText" class="col-sm-8">
            <%
            items.each(function(item,key,list) {
            %>
            <div class="panel panel-default">
                <div class="panel-body text">
                    <strong>Titol: </strong><input type="hidden" value="<%= item.get('codi') %>" name="codi"><%= item.get('titol') %>
                    <div class="form">
                        <div class="rating">
                            <input name="puntuacio" value="0" checked="" type="radio"><span class="hide"></span>
                            <input name="puntuacio" value="1" type="radio"><span></span>
                            <input name="puntuacio" value="2" type="radio"><span></span>
                            <input name="puntuacio" value="3" type="radio"><span></span>
                            <input name="puntuacio" value="4" type="radio"><span></span>
                            <input name="puntuacio" value="5" type="radio"><span></span>
                        </div>
                    </div>
                    <br>
                    <strong>Descripció: </strong><%= item.get('descripcio') %>
                </div>
            </div>
            <%
            });
            %>
    </div>
    <div id="contingutText" class="col-sm-8" style="display:none">
        <div id="close" class="pull-right close">×</div>
        <div class="form-inline">
            <h1 id="titol_element"></h1>
            <input type="hidden" id="codi_element"/>
            <div id = "puntuacions" class="rating pull-right">
                <input name="puntuacio" value="0" checked="" type="radio"><span class="hide"></span>
                <input name="puntuacio" value="1" type="radio"><span></span>
                <input name="puntuacio" value="2" type="radio"><span></span>
                <input name="puntuacio" value="3" type="radio"><span></span>
                <input name="puntuacio" value="4" type="radio"><span></span>
                <input name="puntuacio" value="5" type="radio"><span></span>
            </div>
        </div>
        <p id="text_element"></p>
        <div id="comentaris"></div>
    </div>
</div>